.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header{
    margin-top: 20px;
}
.nav{
    display: flex;
    
    &__list{
        list-style: none;
        padding-left: 25px;  
    }
    
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
        text-decoration: none;
        text-transform: uppercase;
        color: #83888F;

        &:hover {
            color: red;
            text-decoration: underline;
        }
    }
    

}


