.hero {
    background: #2C343E;
    border-radius: 10px;
    margin-top: 100px;

}

.hero__text {
    display: flex;
}

.hero__h1 {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 72px;
    color: #FDD6BA;
}

.hero__h4 {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    color: #FEFCF7;
}

.hero__p {

    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FEFCF7;
    margin-bottom: 50px;
}