.women__li {
    display: flex;
    align-items: center;
    opacity: 0.6;

}

.women__h3 {
    margin-left: 10px;
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.women__h1 {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #0E8784;
}

.women {
    margin-top: 100px;
}

.women__h {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;

}

.women__h5 {

    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #333D4B;
}

.women__05 {
    font-family: 'Fraunces 9pt';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888F;
}

.women__list {
    display: flex;
}

.list__link {
    margin-left: 400px;
    list-style: none;
}

.list__li {
    background: #F4F1EB;
    border-radius: 8px;
    padding: 88px 28px;
    margin: 45px 58px;
    margin-left: -158px;

}

.link__li {
    background: #F4F1EB;
    border-radius: 8px;
    margin: 10px 450px;
    padding: 80px  30px;
    list-style: none;
}